In [1]:
from SPARQLWrapper import SPARQLWrapper, JSON
import requests
import pandas as pd
import csv

In [2]:
sparql = SPARQLWrapper("https://query.wikidata.org/sparql")
#ID = "00FQb4jTyendYWaN8pK0wa"

## Uploading and displaying list of Spotify Id's for Selected Singers

In [3]:
with open('ids.csv', newline='') as f:
    reader = csv.reader(f)
    ids = list(reader)

for i in range(len(ids)):
    ids[i] = ids[i][0].replace(" ", "")
    
print(ids)

['00FQb4jTyendYWaN8pK0wa', '04gDigrS5kc9YWfZHwBETP', '06HL4z0CvFAxyc27GXpf02', '0B3N0ZINFWvizfa8bKiz4v', '0Cp8WN4V8Tu4QJQwCN5Md4', '0eDvMgVFoNV3TpwtrVCoTj', '0EFisYRi20PTADoJrifHrz', '0elWFr7TW8piilVRYJUe4P', '0GM7qgcRCORpGnfcN2tCiB', '0hCNtLu0JehylgoiP8L4Gh', '0imE3buPhAowREqCrr4CYe', '0KPX4Ucy9dk82uj4GpKesn', '0LyfQWJT6nXafLPZqxe9Of', '0NIPkIjTV8mB795yEIiPYL', '0tmwSHipWxN12fsoLcFU3B', '0u6GtibW46tFX7koQ6uNJZ', '0vR2qb8m9WHeZ5ByCbimq2', '0vRvGUQVUjytro0xpb26bs', '0xOeVMOz2fVg5BJY3N6akT', '0xRXCcSX89eobfrshSVdyu', '0XwVARXT135rw8lyw1EeWP', '0Y5tJX1MQlPlqiwlOH1tJY', '0YinUQ50QDB7ZxSCLyQ40k', '0ZED1XzwlLHW4ZaG4lOT6m', '0ZHPrnImGh4re3TbSNkoZl', '15UsOTVnJzReFVN1VCnxy4', '19ra5tSw0tWufvUp8GotLo', '1Bl6wpkWCQ4KVgnASpvzzA', '1cNDP5yjU5vjeR8qMf4grg', '1iNqsUDUraNWrj00bqssQG', '1lmU3giNF3CSbkVSQmLpHQ', '1mcTU81TzQhprhouKaTkpq', '1MIVXf74SZHmTIp4V4paH4', '1o2NpYGqHiCq7FoiYdyd1x', '1r4hJ1h58CWwUQe3MxPuau', '1SupJlEpv7RS2tPNRaHViT', '1uNFoZAHBGtllmzznpCI3s', '1vCWHaC5f2uS3yhpwWbIA6', '1vyhD5VmyZ7KMfW5gqLgo5', '1yPvnL2XGGehNiOGWzcAAG', '1yxSLGMDHlW21z4YXirZDS', '22jNvLBrXGKr4CcV2tw8Ag', '23fqKkggKUBHNkbKtXEls4', '246dkjvS1zLTtiykXe5h60', '2cWZOOzeOm4WmBJRnD5R7I', '2DspEsT7UXGKd2VaaedgG4', '2feDdbD5araYcm6JhFHHw7', '2FXC3k01G6Gw61bmprjgqS', '2jku7tDXc6XoB6MO2hFuqg', '2kCcBybjl3SAtIcwdWpUe3', '2kqUKsTuEj1lPbm6BSn1AU', '2NjfBq1NflQcKSeiDooVjY', '2nm38smINjms1LtczR0Cei', '2oX42qP5ineK3hrhBECLmj', '2SrSdSvpminqmStGELCSNd', '2wkoKEfS6dXwThbyTnZWFU', '2WxjxdeF7GGdcCK276qViY', '2wY79sveU1sp5g7SokKOiI', '37230BxxYs9ksS7OkZw3IU', '3gIRvgZssIb9aiirIg0nI3', '3klZnJvYGIbWritVwQD434', '3l0CmX0FuQjFxr8SK7Vqag', '3Nrfpe0tUJi4K4DXYWgMUX', '3oSJ7TBVCWMDMiYjXNiCKE', '3QSQFmccmX81fWCUSPTS7y', '3TVXtAsR1Inumwj472S9r4', '3Uobr6LgQpBbk6k4QGAb3V', '3vQ0GE3mI0dAaxIMYe5g7z', '41MozSoPIsD1dJM0CLPjZF', '41X1TR6hrK8Q2ZCpp2EqCz', '4bw2Am3p9ji3mYsXNXtQcd', '4EPJlUEBy49EX1wuFOvtjK', '4ETSs924pXMzjIeD6E9b4u', '4Ga1P7PMIsmqEZqhYZQgDo', '4GNC7GD6oZMSxPGyXy4MNB', '4GvEc3ANtPPjt1ZJllr5Zl', '4IWBUUAFIplrNtaOHcJPRM', '4MCBfE4596Uoi2O4DtmEMz', '4nDoRrQiYLoBzwC5BhVJzF', '4NZvixzsSefsNiIqXn0NDe', '4obzFoKoKRHIphyHzJ35G3', '4ofCBoyEiGSePFAG500xev', '4q3ewBCX7sLwd24euuV69X', '4QrBoWLm2WNlPdbFhmlaUZ', '4QvgGvpgzgyUOo8Yp8LDm9', '4r63FhuTkUYltbVAg5TQnk', '4rTv3Ejc7hKMtmoBOK1B4T', '4SsVbpTthjScTS7U2hmr1X', '4V8LLVI7PbaPR0K2TGSxFF', '4V8Sr092TqfHkfAA5fXXqG', '4vxaQs6vK54nK89J1VtLex', '4xRYI6VqpkE3UwrDrAZL8L', '50co4Is1HCEo8bhOyUWKpn', '540vIaP2JwjQb9dm3aArA4', '56oDRnqbIiwx4mymNEv7dS', '57LYzLEk2LcFghVwuWbcuS', '5cj0lLjcoR7YOSnhnX0Po5', '5fMUXHkw8R8eOP2RNVYEZX', '5H1nN1SzW0qNeUEZvuXjAj', '5JMLG56F1X5mFmWNmS0iAp', '5K4W6rqBFWDnAN6FQUkS6x', '5KNNVgR6LBIABRIomyCwKJ', '5lpH0xAS4fVfLkACg9DAuM', '5rGbtFeEVjymN6xzE8opA6', '5SXuuuRpukkTvsLuUknva1', '5Wg2b4Mp42gicxEeDNawf7', '5WUlDfRSoLAfcVSX1WnrxN', '5xkAtLTf309LAGZTbvULBn', '5zctI4wO9XSKS8XwcnqEHk', '63yrD80RY3RNEM2YDpUpO8', '66CXWjxzNUsdJxJ2JdwvnR', '66ihevNkSYNzRAl44dx6jJ', '66W9LaWS0DPdL7Sz8iYGYe', '69GGBxA162lTqCwzJG5jLp', '6AgTAQt8XS6jRWi4sX7w49', '6ASri4ePR7RlsvIQgWPJpS', '6eJa3zG1QZLRB3xgRuyxbm', '6eUKZXaKkcviH0Ku9w2n3V', '6fOMl44jA4Sp5b9PpYCkzz', '6fWVd57NKTalqvmjRd2t8Z', '6i392l38cR3uBPF0DbNs7S', '6Ip8FS7vWT1uKkJSweANQK', '6jGMq4yGs7aQzuGsMgVgZR', '6KImCVD70vtIoJWnq6nGn3', '6L1XC7NrmgWRlwAeLJvVtA', '6l3HvQ5sa6mXTsMTB19rO5', '6LuN9FCkKOj5PcnpouEgny', '6M2wZ9GZgrQXHCFfjv46we', '6P5NO5hzJbuOqSdyPB7SJM', '6qqNVTkY8uBg9cP3Jd7DAH', '6QrQ7OrISRYIfS5mtacaw2', '6QtgPSJPSzcnn7dPZ4VINp', '6Te49r3A6f5BiIgBRxH7FH', '6TIYQ3jFPwQSRmorSezPxX', '6USMTwO0MNDnKte5a5h0xx', '6wWVKhxIU2cEi0K81v7HvP', '6WY7D3jk8zTrHtmkqqo5GI', '6Xgp2XMz1fhVYe7i6yNAax', '6XpaIBNiVzIetEPCWDvAFP', '718COspgdWOnwOFpJHRZHS', '757aE44tKEUQEqRuT6GnEB', '77ziqFxp5gaInVrF2lj4ht', '790FomKkXshlbRYZFtlgla', '7A8S43ryYdbWpJKeHRZRcq', '7Gi6gjaWy3DxyilpF1a8Is', '7gOdHgIoIKoe4i9Tta6qdD', '7jVv8c5Fj3E9VhNjxT4snq', '7MiDcPa6UiV3In7lIM71IN', '7n2wHs1TKAczGzO7Dd2rGr', '7pbDxGE6nQSZVfiFdq9lOL', '7wlFDEWiM5OoIAt8RSli8b', '7z5WFjZAIYejWy0NI5lv4T']

## Python Script for Querying Artist Voice Type from WikiData

In [4]:
def voice_query_sparql(ID):
    sparql.setQuery("""
    SELECT
      ?person ?personLabel
      ?spotifyId ?spotifyIdLabel
      ?voiceType ?voiceTypeLabel
    WHERE 
    {
      ?person wdt:P1902 ?spotifyId.
      ?person wdt:P412 ?voiceType.
      ?person wdt:P1902 '""" + ID + """'.      
      SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
    }
    """)
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    results_df = pd.json_normalize(results['results']['bindings'])
    if(not results_df.empty and 'voiceType.value' in results_df.columns):
        return results_df[['spotifyIdLabel.value','voiceTypeLabel.value']]
    return pd.DataFrame()

In [5]:
artist_voice = pd.DataFrame(columns = ['Artist_Id', 'Voice_Type'])

for i in range(len(ids)):
    df = voice_query_sparql(ids[i])
    df = df.rename(columns={"spotifyIdLabel.value" : "Artist_Id", "voiceTypeLabel.value": "Voice_Type"})
    artist_voice = artist_voice.append(df)

artist_voice = artist_voice.reset_index(drop=True)
artist_voice = artist_voice.drop_duplicates()

voice = artist_voice['Voice_Type'].drop_duplicates().reset_index(drop=True)

print("ARTIST VOICE TABLE:")
display(artist_voice)

print("VOICE TABLE:")
display(voice)

ARTIST VOICE TABLE:

                 Artist_Id        Voice_Type
0   00FQb4jTyendYWaN8pK0wa         contralto
1   06HL4z0CvFAxyc27GXpf02     mezzo-soprano
2   0Cp8WN4V8Tu4QJQwCN5Md4           soprano
3   0ZHPrnImGh4re3TbSNkoZl             tenor
4   19ra5tSw0tWufvUp8GotLo             tenor
5   19ra5tSw0tWufvUp8GotLo  tenore di grazia
6   1uNFoZAHBGtllmzznpCI3s             tenor
7   1vyhD5VmyZ7KMfW5gqLgo5          baritone
8   2FXC3k01G6Gw61bmprjgqS             tenor
9   2wY79sveU1sp5g7SokKOiI      countertenor
10  4obzFoKoKRHIphyHzJ35G3           soprano
11  4V8Sr092TqfHkfAA5fXXqG             tenor
12  5WUlDfRSoLAfcVSX1WnrxN     mezzo-soprano
13  63yrD80RY3RNEM2YDpUpO8     mezzo-soprano
14  66CXWjxzNUsdJxJ2JdwvnR           soprano
15  6eUKZXaKkcviH0Ku9w2n3V             tenor
16  6KImCVD70vtIoJWnq6nGn3          baritone
17  6LuN9FCkKOj5PcnpouEgny          baritone
18  6M2wZ9GZgrQXHCFfjv46we     mezzo-soprano
19  6qqNVTkY8uBg9cP3Jd7DAH           soprano
20  6WY7D3jk8zTrHtmkqqo5GI           soprano
21  6XpaIBNiVzIetEPCWDvAFP     mezzo-soprano
22  6XpaIBNiVzIetEPCWDvAFP    spinto soprano
23  7n2wHs1TKAczGzO7Dd2rGr  tenore di grazia

VOICE TABLE:

0           contralto
1       mezzo-soprano
2             soprano
3               tenor
4    tenore di grazia
5            baritone
6        countertenor
7      spinto soprano
Name: Voice_Type, dtype: object

## Python Script for Querying Artist Age from WikiData

In [6]:
def age_query_sparql(ID):
    sparql.setQuery("""
    SELECT
      ?person ?personLabel
      ?spotifyId ?spotifyIdLabel
      ?age ?ageLabel
    WHERE 
    {
      ?person wdt:P1902 ?spotifyId.
      ?person wdt:P569 ?birth_date.  
      BIND(year(now()) - year(?birth_date) AS ?age)
      ?person wdt:P1902 '"""+ID+"""'.      
      SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
    }
    """)
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    results_df = pd.json_normalize(results['results']['bindings'])
    if(not results_df.empty and 'age.value' in results_df.columns):
        return results_df[['spotifyIdLabel.value','age.value']]
    return pd.DataFrame()

In [7]:
artist_age = pd.DataFrame(columns = ['Artist_Id', 'Age'])

for i in range(len(ids)):
    df = age_query_sparql(ids[i])
    df = df.rename(columns={"spotifyIdLabel.value" : "Artist_Id", "age.value": "Age"})
    artist_age = artist_age.append(df)

artist_age = artist_age.reset_index(drop=True)
artist_age = artist_age.drop_duplicates()

print("ARTIST AGES TABLE:")
display(artist_age)

ARTIST AGES TABLE:

                  Artist_Id Age
0    00FQb4jTyendYWaN8pK0wa  35
1    06HL4z0CvFAxyc27GXpf02  31
2    0B3N0ZINFWvizfa8bKiz4v  23
3    0Cp8WN4V8Tu4QJQwCN5Md4  20
4    0eDvMgVFoNV3TpwtrVCoTj  21
..                      ...  ..
99   790FomKkXshlbRYZFtlgla  29
100  7jVv8c5Fj3E9VhNjxT4snq  21
101  7n2wHs1TKAczGzO7Dd2rGr  22
102  7pbDxGE6nQSZVfiFdq9lOL  22
103  7wlFDEWiM5OoIAt8RSli8b  21

[102 rows x 2 columns]

## Python Script for Querying Instruments from WikiData

In [8]:
def instrument_query(ID):
    url = 'https://query.wikidata.org/sparql'
    query = """
    SELECT 
      ?person ?personLabel ?Artist_Id ?instrumentLabel
    WHERE {
      ?person wdt:P1902 '""" + ID +"""'
      OPTIONAL{?person wdt:P1902 ?Artist_Id .}
      OPTIONAL{?person wdt:P1303 ?instrument .}
      SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
    }
    """
    r = requests.get(url, params = {'format': 'json', 'query': query})
    print(ID, ": ", r.status_code)
    if(r.status_code == 200):
        data = r.json()
        results_df = pd.json_normalize(data['results']['bindings'])
        if(not results_df.empty and 'instrumentLabel.value' in results_df.columns):
            return results_df[['Artist_Id.value','instrumentLabel.value']]
        return pd.DataFrame()
    
def instrument_query_sparql(ID):
    sparql.setQuery("""
    SELECT 
        ?person ?personLabel ?Artist_Id ?instrumentLabel
    WHERE {
        ?person wdt:P1902 '""" + ID + """'
    OPTIONAL{?person wdt:P1902 ?Artist_Id .}
    OPTIONAL{?person wdt:P1303 ?instrument .}
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
    }
    """)
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    results_df = pd.json_normalize(results['results']['bindings'])
    if(not results_df.empty and 'instrumentLabel.value' in results_df.columns):
        return results_df[['Artist_Id.value','instrumentLabel.value']]
    return pd.DataFrame()

In [9]:
artist_instrument = pd.DataFrame(columns = ['Artist_Id', 'Instrument'])

for i in range(len(ids)):
    df = instrument_query_sparql(ids[i])
    df = df.rename(columns={"Artist_Id.value" : "Artist_Id", "instrumentLabel.value": "Instrument"})
    artist_instrument = artist_instrument.append(df)

artist_instrument = artist_instrument.reset_index(drop=True)
artist_instrument = artist_instrument.drop_duplicates()

instrument = artist_instrument['Instrument'].drop_duplicates().reset_index(drop=True)

print("ARTIST INSTRUMENTS TABLE:")
display(artist_instrument)

print("INSTRUMENTS TABLE:")
display(instrument)

ARTIST INSTRUMENTS TABLE:

                  Artist_Id           Instrument
0    00FQb4jTyendYWaN8pK0wa               guitar
1    00FQb4jTyendYWaN8pK0wa              singing
2    00FQb4jTyendYWaN8pK0wa                voice
3    06HL4z0CvFAxyc27GXpf02                piano
4    06HL4z0CvFAxyc27GXpf02               guitar
..                      ...                  ...
140  7n2wHs1TKAczGzO7Dd2rGr                piano
141  7n2wHs1TKAczGzO7Dd2rGr               guitar
142  7n2wHs1TKAczGzO7Dd2rGr  keyboard instrument
143  7n2wHs1TKAczGzO7Dd2rGr                voice
144  7wlFDEWiM5OoIAt8RSli8b                voice

[145 rows x 2 columns]

INSTRUMENTS TABLE:

0                        guitar
1                       singing
2                         voice
3                         piano
4                          drum
5               acoustic guitar
6                       ukulele
7               electric guitar
8                         banjo
9                 upright piano
10          keyboard instrument
11                  synthesizer
12                    FL Studio
13                    Logic Pro
14    digital audio workstation
15     acoustic-electric guitar
16                       Vocals
17                     drum kit
18                      sampler
19                 drum machine
20                MIDI keyboard
21                        flute
22                  bass guitar
23        percussion instrument
24                   Bajo sexto
25                  Bajo quinto
Name: Instrument, dtype: object

## Python Script for Querying Awards from WikiData

In [10]:
def award_query_sparql(ID):
    sparql.setQuery("""
    SELECT 
        ?person ?personLabel ?Artist_Id ?Award ?AwardLabel
    WHERE {
        ?person wdt:P1902 '""" + ID + """'
    OPTIONAL{?person wdt:P1902 ?Artist_Id .}
    OPTIONAL{?person wdt:P166 ?Award .}
    SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
    }
    """)
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    results_df = pd.json_normalize(results['results']['bindings'])
    if(not results_df.empty and 'AwardLabel.value' in results_df.columns):
        return results_df[['Artist_Id.value','AwardLabel.value']]
    return pd.DataFrame()

In [11]:
artist_award = pd.DataFrame(columns=['Artist_Id','Award'])

for i in range(len(ids)):
    df = award_query_sparql(ids[i])
    df = df.rename(columns={"Artist_Id.value" : "Artist_Id", "AwardLabel.value": "Award"})
    artist_award = artist_award.append(df)

artist_award = artist_award.reset_index(drop=True)
artist_award = artist_award.drop_duplicates()

awards = artist_award['Award'].drop_duplicates().reset_index(drop=True)

print("ARTIST AWARDS TABLE:")
display(artist_award)

print("AWARDS TABLE:")
display(awards)

ARTIST AWARDS TABLE:

                  Artist_Id                                              Award
0    04gDigrS5kc9YWfZHwBETP            MTV Europe Music Award for Best New Act
1    04gDigrS5kc9YWfZHwBETP                   Grammy Award for Best New Artist
2    06HL4z0CvFAxyc27GXpf02      MTV Video Music Award for Best Visual Effects
3    06HL4z0CvFAxyc27GXpf02  Grammy Award for Best Song Written for Visual ...
4    06HL4z0CvFAxyc27GXpf02           MTV Video Music Award for Best Pop Video
..                      ...                                                ...
190  7jVv8c5Fj3E9VhNjxT4snq                  Grammy Award for Best Music Video
191  7jVv8c5Fj3E9VhNjxT4snq  American Music Award for Favorite Rap/Hip-Hop ...
192  7jVv8c5Fj3E9VhNjxT4snq  Teen Choice Award for Choice Music – R&B/Hip-H...
193  7n2wHs1TKAczGzO7Dd2rGr                              Canada's Walk of Fame
194  7pbDxGE6nQSZVfiFdq9lOL                                        Sound of...

[195 rows x 2 columns]

AWARDS TABLE:

0                MTV Europe Music Award for Best New Act
1                       Grammy Award for Best New Artist
2          MTV Video Music Award for Best Visual Effects
3      Grammy Award for Best Song Written for Visual ...
4               MTV Video Music Award for Best Pop Video
                             ...
139                                 Primetime Emmy Award
140               Latin Grammy Award for Best New Artist
141      Grammy Award for Best Pop Duo/Group Performance
142    Teen Choice Award for Choice Music – R&B/Hip-H...
143                                          Sound of...
Name: Award, Length: 144, dtype: object

## Python Script for Querying Influenced By from WikiData

In [12]:
def influenced_query_sparql(ID):
    sparql.setQuery("""
    SELECT
      ?person ?personLabel
      ?spotifyId ?spotifyIdLabel
      ?influencedBy ?influencedByLabel
      ?influencedId ?influencedIdLabel
    WHERE 
    {
      ?person wdt:P1902 ?spotifyId.
      ?person wdt:P737 ?influencedBy.
      ?person wdt:P1902 '""" + ID + """'.
      ?influencedBy wdt:P1902 ?influencedId.      
      SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
    }
    """)
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    results_df = pd.json_normalize(results['results']['bindings'])
    if(not results_df.empty and 'influencedBy.value' in results_df.columns):
        return results_df[['spotifyIdLabel.value','influencedIdLabel.value']]
    return pd.DataFrame()

In [13]:
artist_influenced = pd.DataFrame(columns=['Artist_Id','Influenced_By'])

for i in range(len(ids)):
    df = influenced_query_sparql(ids[i])
    df = df.rename(columns={"spotifyIdLabel.value" : "Artist_Id", "influencedIdLabel.value": "Influenced_By"})
    artist_influenced = artist_influenced.append(df)

artist_influenced = artist_influenced.reset_index(drop=True)
artist_influenced = artist_influenced.drop_duplicates()

artist_influenced = artist_influenced.loc[artist_influenced['Influenced_By'].isin(ids)]

print("ARTIST INFLUENCED TABLE:")
display(artist_influenced)

ARTIST INFLUENCED TABLE:

                 Artist_Id           Influenced_By
9   2wY79sveU1sp5g7SokKOiI  6XpaIBNiVzIetEPCWDvAFP
12  2wY79sveU1sp5g7SokKOiI  5WUlDfRSoLAfcVSX1WnrxN

## Python Script for Querying Member Of from WikiData

In [14]:
def member_query_sparql(ID):
    sparql.setQuery("""
    SELECT
      ?person ?personLabel
      ?spotifyId ?spotifyIdLabel
      ?memberOf ?memberOfLabel
      ?memberOfId ?memberOfIdLabel
    WHERE 
    {
      ?person wdt:P1902 ?spotifyId.
      ?person wdt:P463 ?memberOf.
      ?person wdt:P1902 '""" + ID + """'.
      ?memberOf wdt:P1902 ?memberOfId.      
      SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
    }
    """)
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    results_df = pd.json_normalize(results['results']['bindings'])
    if(not results_df.empty and 'memberOf.value' in results_df.columns):
        return results_df[['spotifyIdLabel.value','memberOfIdLabel.value']]
    return pd.DataFrame()

In [15]:
artist_member = pd.DataFrame(columns=['Artist_Id','Member_Of'])

for i in range(len(ids)):
    df = member_query_sparql(ids[i])
    df = df.rename(columns={"spotifyIdLabel.value" : "Artist_Id", "memberOfIdLabel.value": "Member_Of"})
    artist_member = artist_member.append(df)

artist_member = artist_member.reset_index(drop=True)
artist_member = artist_member.drop_duplicates()

artist_member = artist_member.loc[artist_member['Member_Of'].isin(ids)]

print("ARTIST MEMBER TABLE:")
display(artist_member)

ARTIST MEMBER TABLE:

Empty DataFrame
Columns: [Artist_Id, Member_Of]
Index: []

## Python Script for Querying Student Of from WikiData

In [16]:
def student_query_sparql(ID):
    sparql.setQuery("""
    SELECT
      ?person ?personLabel
      ?spotifyId ?spotifyIdLabel
      ?studentOf ?studentOfLabel
      ?studentOfId ?studentOfIdLabel
    WHERE 
    {
      ?person wdt:P1902 ?spotifyId.
      ?person wdt:P1066 ?studentOf.
      ?person wdt:P1902 '""" + ID + """'.
      ?studentOf wdt:P1902 ?studentOfId.      
      SERVICE wikibase:label { bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". }
    }
    """)
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    results_df = pd.json_normalize(results['results']['bindings'])
    if(not results_df.empty and 'studentOf.value' in results_df.columns):
        return results_df[['spotifyIdLabel.value','studentOfIdLabel.value']]
    return pd.DataFrame()

In [17]:
artist_student = pd.DataFrame(columns=['Artist_Id','Student_Of'])

for i in range(len(ids)):
    df = student_query_sparql(ids[i])
    df = df.rename(columns={"spotifyIdLabel.value" : "Artist_Id", "memberOfIdLabel.value": "Member_Of"})
    artist_student = artist_student.append(df)

artist_student = artist_student.reset_index(drop=True)
artist_student = artist_student.drop_duplicates()

artist_student = artist_student.loc[artist_student['Student_Of'].isin(ids)]

print("ARTIST STUDENT TABLE:")
display(artist_student)

ARTIST STUDENT TABLE:

Empty DataFrame
Columns: [Artist_Id, Student_Of]
Index: []

## Creating All Necessary CSV's

In [21]:
voice.to_csv('voice.csv', index=False, header=True)
artist_voice.to_csv('artist_voice.csv', index=False, header=True)

artist_age.to_csv('artist_age.csv', index=False,header=True)

instrument.to_csv('instrument.csv', index=False,header=True)
artist_instrument.to_csv('artist_inst.csv', index=False,header=True)

artist_award.to_csv('artist_award.csv', index=False,header=True)
awards.to_csv('award.csv', index=False, header=True)

artist_influenced.to_csv('artist_inf.csv', index=False,header=True)

artist_member.to_csv('artist_mem.csv', index=False,header=True)

artist_student.to_csv('artist_stud.csv', index=False,header=True)